# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Jest
#
.jest/

# App Center secrets
# These are stored locally and on App Center if you sign in
# You'll need to manually replace your App Center secret instead of the dummy GUID stored in platform-specific code:
# 1. Inside of AppCenter-Config.plist (iOS)
# 2. In appcenter-config.json (Android)
# The dummy GUID is currently 11111111-1111-1111-1111-111111111111
appcenter-config.RETAIL.json
AppCenter-Config.RETAIL.plist
AppCenter-Config.plist
appcenter-config.json

# App-wide API keys
# You'll need to recreate a .ts file with these exports to clone this project: AzureMapsApiKey
src/keys.ts
